export CSII_INSTALLATIONPATH="/data/games/steam/steamapps/common/Cities Skylines II"
export CSII_USERDATAPATH="/data/games/steam/steamapps/compatdata/949230/pfx/drive_c/users/steamuser/AppData/LocalLow/Colossal Order/Cities Skylines II"
export CSII_TOOLPATH=/data/code/C#/CS2M-tools/Modding
export CSII_LOCALMODSPATH=$CSII_USERDATAPATH/Mods
export CSII_UNITYMODPROJECTPATH="/data/code/C#/CS2M-tools/UnityModsProject"
export CSII_MODPOSTPROCESSORPATH="/data/code/C#/CS2M-tools/ModPostProcessor/bin/Debug/netcoreapp8.0/ModPostProcessor"
export CSII_MODPUBLISHERPATH="$CSII_INSTALLATIONPATH/Cities2_Data/StreamingAssets/~Tooling~/ModPublisher/ModPublisher.exe"
export CSII_MANAGEDPATH="$CSII_INSTALLATIONPATH/Cities2_Data/Managed"
export CSII_ENTITIESVERSION="1.0.14"
export CSII_UNITYVERSION="Unity 2022.3.7f1"
export WINEPREFIX=/data/ssdgames/steam/steamapps/compatdata/949230/pfx
