export CSII_INSTALLATIONPATH="/data/ssdgames/SteamLibrary/steamapps/common/Cities Skylines II"
export CSII_USERDATAPATH="/data/ssdgames/SteamLibrary/steamapps/compatdata/949230/pfx/drive_c/users/steamuser/AppData/LocalLow/Colossal Order/Cities Skylines II"
export CSII_TOOLPATH=$CSII_USERDATAPATH/.cache/Modding
export CSII_LOCALMODSPATH=$CSII_USERDATAPATH/Mods
export CSII_UNITYMODPROJECTPATH="/data/code/Unity/UnityModsProject"
export CSII_MODPOSTPROCESSORPATH="$CSII_TOOLPATH/ModPostProcessor/ModPostProcessor"
export CSII_MODPUBLISHERPATH="$CSII_INSTALLATIONPATH/Cities2_Data/StreamingAssets/~Tooling~/ModPublisher/ModPublisher.exe"
export CSII_MANAGEDPATH="$CSII_INSTALLATIONPATH/Cities2_Data/Managed"
export CSII_ENTITIESVERSION="1.0.14"
export CSII_UNITYVERSION="Unity 2022.3.7f1"
export WINEPREFIX=/data/ssdgames/SteamLibrary/steamapps/compatdata/949230/pfx
